html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.galleria-layer .image-description {

	top: 10px;
	left: 10px;
	padding:10px;
	
	position:absolute;

	background-color: rgba(0,0,0,0.5);
	color: #ffffff
}

.galleria-layer .title {
	font-size: large;
	font-weight: bold;

	padding-bottom: 5px;
}

.galleria-layer ul {
	list-style: disc;
	margin: 5pt 5pt 5pt 20pt;
	padding: 5pt;
}

.galleria-layer p {
	margin: 10pt 0 0 0;
	text-align: right;
}

body {
	font: 11pt Helvetica, Arial, sans-serif;
	background: #333333;
}



#main {
	width: 640px;
	background: #fff;

	margin: 20pt auto 0 auto;
}

#title {
	background: #0a0a11;
	color: #fff;

	border-bottom: 1px solid #000033;
	
	position: relative;
	height: 75px

}

#title h1 {
	display:none;
}

#title #logo {
	width: 183px;
	height: 75px;
	float: left;
	background: url(../images/logo.png) no-repeat;
	z-index:999;
}

#title nav ul {
	position: absolute;
	right: 0;
	bottom: 0;
	list-style: none;

	background: #113;
	padding: 1pt 1pt 0 1pt;
}

#title nav ul li{
	float: left;
}

#title nav a {
	display: block;
	padding: 5pt 10pt 5pt 10pt;

	color: #fff;
	text-decoration: none;

	font-size: 12pt;
	font-variant: small-caps;
}


#title nav a:hover {
	background-color: #334;
	color: #fff;
}

#title nav a.current{
	background-color: #fff;
	color: #003;
}

#content {
	clear: both;

	line-height: 18pt;

	padding: 0 0 10pt 0;
}

#content h1 {
	font-size: 20pt;
	background: #000;
	color: #fff;

	padding: 20pt 5pt 5pt 5pt;
	border-bottom: 1px solid #003;
}

#content h2 {
	font-size: 18pt;
	color: #003;
	margin: 20pt 10pt 0 10pt;

	border-bottom: 1px solid #003;
}

#content h3 {
	font-size: 14pt;
	color: #003;
	margin: 20pt 0 0 10pt;
}

#content p {
	margin: 10pt;
}

#content strong, #content b {
	font-weight: bold;
}

#content em, #content i {
	font-style: italic;
}

#content ul {
	list-style: disc;
	margin: 10px 0px 10px 40px;
}

#content pre {
	margin: 10px 0px 10px 40px;
}

#content code {
	font-family: monospace;
}

#content .button_row {
	text-align: center;
}

#side_bar { 
	float: right;
	padding: 5pt;
	width: 170px;
	margin: 0 0 0 10pt;

	background: #ddd;

	font-size: 10pt;

}

#side_bar .button {
	width: 160px;
	margin-bottom: 5pt;
}

#side_bar .big.button {
	width: 140px;
}

#side_bar h2 {
	font-size: 14pt;
	font-weight: bold;
	padding: 1pt 0;
	margin: 10pt 0 5pt 0;
	
	color: #003;

	text-align:center;
}

#side_bar ul.actions {
	list-style: none;
	margin: 0;
}

a {
	color: #006;
}

footer {
	background: #0a0a11;
	color: #fff;
	padding: 10pt;

	font-size: 9pt;

}

footer .buttons {
	float:right;
}

.toc-top-link {
	font-size: 9pt;
	margin-left: 10pt;
	text-transform: lowercase;
}

.toc {
	margin: 20pt;
	padding: 10pt;
	background-color: #eee;
	font-size: 10pt;
	line-height: 12pt;

	float: right;
}

.toc span {
	font-size: 11pt;
	font-weight: bold;
	color: #003;
	margin: 0 0 5pt 0;
}

ol#toc, #toc ol {
	margin: 0 0 5pt 10pt;
}

ol#toc {
	margin-top: 5pt;
	margin-left: 15pt;
	list-style: decimal;
}

#toc ol {
	list-style: disc;
}


#toc ol ol {
	list-style: circle;
}


.highlight .hll { background-color: #ffffcc }
.highlight  { font-size: 9pt; line-height: 10pt}
.highlight .c { color: #408080; font-style: italic } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: #008000; font-weight: bold } /* Keyword */
.highlight .o { color: #666666 } /* Operator */
.highlight .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #BC7A00 } /* Comment.Preproc */
.highlight .c1 { color: #408080; font-style: italic } /* Comment.Single */
.highlight .cs { color: #408080; font-style: italic } /* Comment.Special */
.highlight .gd { color: #A00000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #808080 } /* Generic.Output */
.highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #0040D0 } /* Generic.Traceback */
.highlight .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #008000 } /* Keyword.Pseudo */
.highlight .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #B00040 } /* Keyword.Type */
.highlight .m { color: #666666 } /* Literal.Number */
.highlight .s { color: #BA2121 } /* Literal.String */
.highlight .na { color: #7D9029 } /* Name.Attribute */
.highlight .nb { color: #008000 } /* Name.Builtin */
.highlight .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.highlight .no { color: #880000 } /* Name.Constant */
.highlight .nd { color: #AA22FF } /* Name.Decorator */
.highlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #0000FF } /* Name.Function */
.highlight .nl { color: #A0A000 } /* Name.Label */
.highlight .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #008000; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #19177C } /* Name.Variable */
.highlight .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #666666 } /* Literal.Number.Float */
.highlight .mh { color: #666666 } /* Literal.Number.Hex */
.highlight .mi { color: #666666 } /* Literal.Number.Integer */
.highlight .mo { color: #666666 } /* Literal.Number.Oct */
.highlight .sb { color: #BA2121 } /* Literal.String.Backtick */
.highlight .sc { color: #BA2121 } /* Literal.String.Char */
.highlight .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #BA2121 } /* Literal.String.Double */
.highlight .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #BA2121 } /* Literal.String.Heredoc */
.highlight .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.highlight .sx { color: #008000 } /* Literal.String.Other */
.highlight .sr { color: #BB6688 } /* Literal.String.Regex */
.highlight .s1 { color: #BA2121 } /* Literal.String.Single */
.highlight .ss { color: #19177C } /* Literal.String.Symbol */
.highlight .bp { color: #008000 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #19177C } /* Name.Variable.Class */
.highlight .vg { color: #19177C } /* Name.Variable.Global */
.highlight .vi { color: #19177C } /* Name.Variable.Instance */
.highlight .il { color: #666666 } /* Literal.Number.Integer.Long */
