<!doctype html>
<html>
	<head>
		<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
		<script src="js/galleria/galleria-1.2.6.min.js"></script>
		
		<link rel="stylesheet" type="text/css" href="css/py2d.css" />
		<link rel="stylesheet" type="text/css" href="css/css3buttons.css" />
	</head>
	<title>{{page.title}} - Py2D</title>
	<body>


		<div id="main">

			<header id="title">
				<div id="logo"></div>
				<h1>Py2D</h1>

				<nav>
					<ul>
						<li><a href="index.htm">Home</a></li>
						<li><a href="features.htm">Features</a></li>
						<li><a href="documentation.htm">Documentation</a></li>
					</ul>
				</nav>

			</header>


			<article id="content">
				{{ content }}
			</article>

		</div>

	</body>
</html>
